.sendForm {
    display: flex;
    margin-top: 55px;
}

.textarea {
    width: 100%;
    min-height: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(29, 33, 38, 0.03), 0 1px 2px 0 rgba(29, 33, 38, 0.1);
    background: rgba(245, 247, 251, 1);
    overflow: hidden;
    resize: none;
    border: none;
    place-content: center;
    padding-left: 25px;
}

.button {
    margin-left: 45px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: rgba(0, 102, 204, 1);

    color: rgba(255, 255, 255, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border: none;
}

.button:hover {

}
.button:active {

}
